.form__message_container {
  /* 2.Box model */
  width: 0;
  max-width: var(--space-400);
  height: 0;
  margin: 0;
  padding: 0;

  /* 3. Typography */
  text-align: center;

  /* 4.Visuals */
  border-radius: var(--space-8);
  border: 1px solid var(--gray-dark);
  background-color: var(--primary-dark);
  opacity: 0;
  transition: all .5s ease;
}

.form__message {
  /* 3. Typography */
  font-size: 0;
}

.form__message_active {
  /* 2.Box model */
  width: 100%;
  height: auto;
  margin-bottom: var(--space-8);
  padding: var(--space-8);

  /* 3. Typography */
  font-size: 16px;

  /* 4.Visuals */
  opacity: 1;
  transition: all .5s ease;
}