.family_tree {
    /* 2. Box Model */
    margin: auto;
    padding: var(--space-24);
    padding-top: var(--space-80);
    width: 100%;
    max-width: var(--breakpoint-lg);
    min-height: 100vh;
}

.family_tree__container {
    /* 1. Positioning */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--space-16);

    /* 2. Box Model */
    width: 100%;
    max-width: var(--breakpoint-lg);
}

.family_tree__container_cards {
    /* 1. Positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* 2. Box Model */
    gap: var(--space-16);
    padding: var(--space-48) 0;
    max-width: var(--breakpoint-lg);
    margin: auto;
}