.footer {
  /* 2. Box model */
  padding: var(--space-32);

  /* 4. Visuals */
  background-color: var(--black-light);
  border-top: 1px solid var(--black-light);
}

.footer__main {
  /* 2. Box model */
  margin: auto;
  max-width: var(--breakpoint-lg);
}

.footer__logo {
  /* 1. Positioning */
  display: block;

  /* 2. Box model */
  margin-bottom: var(--space-32);
}

.footer__text {
  /* 2. Box model */
  margin: var(--space-16) 0;

  /* 3. Typography */
  color: var(--white-light);
  transition: color 0.3s ease-in-out;
}

.footer__container {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-16);
}

.footer__container_box {
  /* 2. Box model */
  max-width: 70%;
}

.footer__container_box_items {
  /* 1. Positioning */
  display: flex;
  gap: var(--space-16);
}

.footer__button {
  /* 2. Box model */
  padding: 0 !important;

  /* 4. Visuals */
  background-color: transparent;
}

.footer__button:hover>.footer__text,
.footer__button_active>.footer__text {
  /* 3. Typography */
  color: var(--primary);
}

.footer__copyright {
  /* 2. Box model */
  width: fit-content;
  margin: var(--space-40) auto;

  /* 3. Typography */
  text-align: center;
}