.footer {
  /* 2. Box model */
  padding: var(--space-32);

  /* 4. Visuals */
  background-color: var(--black-light);
  border-top: 1px solid var(--black-light);
}

.footer__main {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-40);

  /* 2. Box model */
  padding: var(--space-48) 0;
  margin: auto;
  max-width: var(--breakpoint-lg);
}

.footer__contact,
.footer__comunity {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-16);

  /* 2. Box model */
  max-width: var(--breakpoint-sm);

  /* 3. Typography */
  color: var(--white-light);
}

.footer__social {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  gap: var(--space-16);
}

.footer__copyright {
  /* 2. Box model */
  width: fit-content;
  margin: var(--space-12) auto;

  /* 3. Typography */
  text-align: center;
}

.footer__text {
  /* 3. Typography */
  color: var(--white-light);
}

@media (min-width: 1024px) {
  .footer__main {
    /* 1. Positioning */
    flex-direction: row-reverse;
    gap: var(--space-80);

    /* 2. Box model */
    padding: var(--space-80) 0;
  }
}