.footer {
  /* 2. Box model */
  padding: var(--space-32);

  /* 4. Visuals */
  background-color: var(--black-light);
  border-top: 1px solid var(--black-light);
}

.footer__main {
  /* 2. Box model */
  margin: auto;
  max-width: var(--breakpoint-lg);
}


.footer__social {
  /* 1. Positioning */
  display: flex;
  justify-content: center;
  gap: var(--space-16);
}

.footer__copyright {
  /* 2. Box model */
  width: fit-content;
  margin: var(--space-12) auto;

  /* 3. Typography */
  text-align: center;
}

.footer__text {
  /* 3. Typography */
  color: var(--white-light);
}