.switch {
  /* 1.Positioning */
  position: relative;
  display: inline-block;

  /* 2.Box model */
  width: var(--space-48);
  height: var(--space-28);

  /* 3.Typography */
  user-select: none;

  /* 5.Others */
  cursor: pointer;
}

.input {
  /* 2.Box model */
  width: 0;
  height: 0;

  /* 4.Visuals */
  opacity: 0;
}

.slider {
  /* 1.Positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 2.Box model */
  padding: var(--space-2);
  box-sizing: border-box;

  /* 4.Visuals */
  background-color: var(--gray-light);
  border-radius: var(--space-28);

  /* 5.Others */
  cursor: pointer;
  transition: 0.4s;
}

.slider.checked {
  /* 4.Visuals */
  background-color: var(--secondary);
}

.switch:hover .slider:not(.disabled) {
  /* 4.Visuals */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.circle {
  /* 1.Positioning */
  content: '';

  /* 2.Box model */
  height: var(--space-24);
  width: var(--space-24);
  border-radius: 50%;

  /* 4.Visuals */
  background-color: var(--white);
  /* 5.Others */
  transition: 0.4s;
}

.slider.checked .circle {
  --slider-shift: calc(var(--space-48) - var(--space-24) - 2 * var(--space-2));

  /* 5.Others */
  transform: translateX(var(--slider-shift));
}

.slider.disabled {
  /* 4.Visuals */
  background-color: var(--gray-light);
  opacity: 0.7;

  /* 5.Others */
  cursor: not-allowed;
}

.slider.disabled .circle {
  /* 4.Visuals */
  background-color: var(--gray-dark);
}