.presentation {
  /* 1. Positioning */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 2. Size */
  width: 100%;
  height: 100vh;
}

.presentation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* 2. Size */
  width: 100%;
  max-width: var(--breakpoint-lg);
}

.presentation__container_image {
  max-width: 100%;
  height: auto;
}

.presentation__container_text {
  text-align: center;
  color: var(--black-light);
  padding: var(--space-16);
}

.presentation__float_buttons {
  /* 1. Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: var(--space-16);
  left: var(--space-8);
  z-index: 1;
}

.history,
.gallery,
.contact {
  margin: auto;
  padding: var(--space-24);
  padding-top: var(--space-80);
  width: 100%;
  max-width: var(--breakpoint-lg);
}

.history__container_text,
.gallery__container_text {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-32) 0;
}

.gallery,
.contact {
  max-width: 100%;
  background-color: var(--primary-light);
}

.gallery__container,
.contact__container {
  width: 100%;
  margin: auto;
}

.gallery__container_text,
.contact__container_text {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin: auto;
}

.gallery__container_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-16);
  padding: var(--space-48) 0;
  max-width: var(--breakpoint-lg);
  margin: auto;
}