.font_bold {
  /* 3. Typography */
  font-weight: 800;
}

.font_light {
  /* 3. Typography */
  font-weight: 300;
}

.size_big {
  /* 3. Typography */
  font-size: 4rem;
}

.size_medium {
  /* 3. Typography */
  font-size: 3.2rem;
}

.size_little {
  /* 3. Typography */
  font-size: 2.8rem;
}

.s1, .p1 {
  /* 3. Typography */
  font-size: 3rem;
}

.s2, .p2 {
  /* 3. Typography */
  font-size: 1.8rem;
}

.s3, .p3 {
  /* 3. Typography */
  font-size: 1.4rem;
}

.s4, .p4 {
  /* 3. Typography */
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .size_big {
    /* 3. Typography */
    font-size: 4.8rem;
  }
  
  .size_medium {
    /* 3. Typography */
    font-size: 4rem;
  }
  
  .size_little {
    /* 3. Typography */
    font-size: 3.2rem;
  }
  
  .s1, .p1 {
    /* 3. Typography */
    font-size: 4rem;
  }
  
  .s2, .p2 {
    /* 3. Typography */
    font-size: 2rem;
  }
  
  .s3, .p3 {
    /* 3. Typography */
    font-size: 1.6rem;
  }
  
  .s4, .p4 {
    /* 3. Typography */
    font-size: 1.2rem;
  }
}