.form__container {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin: var(--space-8) 0;

  /* 2.Box model */
  width: 100%;
  height: var(--space-64);
}

.form__container_textarea {
  /* 2.Box model */
  height: auto;
}

.form__input {
  /* 2.Box model */
  width: 100%;
  max-width: var(--space-400);
  padding: var(--space-8);

  /* 3. Typography */
  font-family: var(--font-roboto-mono);

  /* 4.Visuals */
  border-radius: var(--space-8);
  border: 3px solid var(--primary-dark);
  transition: all 0.2s;

  /* 5.Others */
  resize: none;
}

.form__textarea {
  /* 5.Others */
  resize: none;
}

.form__input:focus,
.form__input:focus-visible {
  /* 4.Visuals */
  border: 3px solid var(--white-light);
}