/*
1.Positioning
2.Box model (Ex: Box model measurements, Margin, Padding, Etc.)
3.Typography
4.Visuals
5.Others
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-optical-sizing: auto;
  line-height: 1.6;
  color: var(--black-light);
  font-family: var(--font-body);
  background-color: var(--white-dark);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--white-light);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--black-light);
}

/* Fonts */
:root {
  --font-heading: var(--font-playfair);
  --font-body: var(--font-merriweather);
}

/* Colors */
:root {
  /* White Shades */
  --white: #FFFFFF;
  --white-light: #F5F1EB;
  --white-dark: #ECE5D8;

  /* Gray Shades */
  --gray-light: #C0C0C0;
  --gray: #999999;
  --gray-dark: #666666;

  /* Black Shades */
  --black-light: #4D453D;
  --black: #3A3A3A;
  --black-dark: #292929;

  /* Primary */
  --primary-light: #BCAE9F;
  --primary: #A69584;
  --primary-dark: #8E7D6F;

  /* Secondary */
  --secondary-light: #B4BFAC;
  --secondary: #909986;
  --secondary-dark: #7B856D;
}


/* Spaces */
:root {
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --space-88: 88px;
  --space-96: 96px;
  --space-104: 104px;
  --space-112: 112px;
  --space-120: 120px;
  --space-128: 128px;
  --space-136: 136px;
  --space-144: 144px;
  --space-152: 152px;
  --space-160: 160px;
  --space-256: 256px;
  --space-264: 264px;
  --space-272: 272px;
  --space-280: 280px;
  --space-288: 288px;
  --space-296: 296px;
  --space-304: 304px;
  --space-320: 320px;
  --space-328: 328px;
  --space-336: 336px;
  --space-344: 344px;
  --space-352: 352px;
  --space-360: 360px;
  --space-368: 368px;
  --space-376: 376px;
  --space-384: 384px;
  --space-392: 392px;
  --space-400: 400px;
  --space-408: 408px;
  --space-416: 416px;
  --space-424: 424px;
  --space-432: 432px;
  --space-440: 440px;
  --space-448: 448px;
  --space-456: 456px;
  --space-464: 464px;
  --space-472: 472px;
  --space-480: 480px;
  --space-488: 488px;
  --space-496: 496px;
}

:root {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1920px;
}