.viewer_container {
    /* 1.Positioning */
    position: relative;

    /* 2.Box model */
    width: 100%;
    height: var(--space-496);
    overflow: hidden;

    /* 4.Visuals */
    background-color: var(--white);
}

.viewer_wrapper {
    /* 2.Box model */
    width: 100% !important;
    height: 100% !important;
}

.viewer_content {
    /* 1.Positioning */
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer_controls {
    /* 1.Positioning */
    position: absolute;
    bottom: var(--space-12);
    right: var(--space-12);
    display: flex;
    flex-direction: column;
    z-index: 1;

    /* 2.Box model */
    gap: var(--space-8);
    padding: var(--space-8);
}

.viewer_button {
    /* 2.Box model */
    border-radius: 50%;
    padding: var(--space-8);
    background-color: var(--white);

    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.viewer_icon {
    /* 2.Box model */
    max-width: 100%;
    max-height: 100%;
}