.form {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;

  /* 2.Box model */
  width: 100%;
  max-width: var(--space-400);

  /* 3. Typography */
  color: var(--black-light);
}

.form__container_button {
  /* 1.Positioning */
  display: flex;
  justify-content: flex-end;

  /* 2.Box model */
  width: 100%;
}

.form__button {
  /* 3. Typography */
  color: var(--black-light);
  font-family: var(--font-roboto-mono);
  text-transform: capitalize;

  /* 4.Visuals */
  border: 2px solid var(--black-light);
  border-radius: var(--space-48);
  transition: box-shadow .3s;
  background-color: var(--white-dark);
}

.form__button:hover {
  /* 4.Visuals */
  box-shadow: 0 5px 6px -4px #000000c2;
}