.timeline {
  /* 1.Positioning */
  position: relative;

  /* 2.Box model */
  padding: 0;
  margin: 0;

  /* 3.Typography */
  list-style: none;
}

.timeline::before {
  /* 1.Positioning */
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--space-20);
  z-index: 0;

  /* 2.Box model */
  width: 2px;

  /* 4.Visuals */
  background-color: var(--gray-light);
}

.timeline_item {
  /* 1.Positioning */
  position: relative;

  /* 2.Box model */
  margin-bottom: var(--space-24);
  padding-left: var(--space-24);
}

.timeline_node {
  /* 1.Positioning */
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 1;

  /* 2.Box model */
  width: var(--space-20);
  height: var(--space-20);
  border-radius: 50%;
  border: var(--space-4) solid var(--gray-light);

  /* 4.Visuals */
  background-color: var(--gray);
}

.timeline_content {
  /* 1.Positioning */
  display: flex;
  flex-direction: column;

  /* 2.Box model */
  gap: var(--space-8);
  max-width: var(--space-496);
  padding-left: var(--space-16);
}

.timeline__title {
  /* 3.Typography */
  line-height: normal;
}