.page_position {
  /* 1.Positioning */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-8);
}

.page_position__link {
  /* 1.Positioning */
  display: flex;
  align-items: center;
  gap: var(--space-8);

  /* 3.Typography */
  color: var(--gray-light);

  /* 4.Visuals */
  transition: color .3s ease;
}

.page_position__text {
  /* 3.Typography */
  color: var(--gray-light);
}

.page_position__link:hover {
  /* 3.Typography */
  color: var(--gray-dark);
}

.page_position__icon {
  /* 4.Visuals */
  transform: rotate(270deg);
}